@import "tailwindcss";
@plugin "@tailwindcss/typography";

// Define a custom variant for dark mode, applying styles to elements with the `.dark` class or its descendants.
@custom-variant dark (&:where(.dark, .dark *)); 

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("./InterVariable.woff2") format("woff2");
}
