.audio-mode {
    @apply h-12 w-full pb-2;
}

.audio-mode .video-js {
    @apply !bg-transparent;
}

.audio-mode .vjs-control-bar {
    @apply !relative flex !h-full !w-full content-center !bg-transparent;
}

.audio-mode .vjs-control {
    @apply !aspect-square !h-full !text-sm text-zinc-600 !outline-none dark:text-zinc-100;
}

.audio-mode .vjs-slider {
    @apply !rounded-full;
}

.audio-mode .vjs-slider-bar {
    @apply !rounded-full;
}

.audio-mode .vjs-play-progress {
    @apply !rounded-full bg-zinc-500;
}

.audio-mode .vjs-progress-holder {
    @apply !rounded-full bg-zinc-300;
}

.audio-mode .vjs-load-progress {
    @apply !rounded-full;
}

.audio-mode .vjs-menu {
    @apply !-left-32 !top-0 !outline-none;
}

.audio-mode .vjs-menu-content {
    @apply !top-4 z-10 !h-fit rounded-md  !bg-zinc-50 shadow-lg dark:!bg-zinc-600 dark:text-zinc-100;
}

.audio-mode .vjs-selected {
    @apply !bg-zinc-300 font-bold focus:!bg-zinc-300 dark:!bg-zinc-500 focus:dark:!bg-zinc-500;
}

.audio-mode .vjs-menu-item-text {
    @apply text-zinc-900 dark:text-zinc-100;
}

.audio-mode .video-js :not(.vjs-selected) {
    @apply focus:!bg-transparent;
}

.audio-mode .vjs-menu-button {
    @apply !outline-none;
}

.audio-mode .vjs-menu-item {
    @apply !p-3 !text-sm !outline-none;
    width: 100% !important;
}

.audio-mode-toggle-audio {
    @apply !absolute bottom-[64px] right-2;
}
