name: Run API Tests
permissions:
  contents: read

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main
    paths:
      - api/**
      - .github/workflows/api-unit-tests.yml
  workflow_call:

env:
  CI: true
  DB_DATABASE: "luminary-test"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create environment file
        run: cp .env.test.example .env.test
        working-directory: api

      - name: Start CouchDB
        run: |
          ./scripts/start-couchdb-in-ci.sh
          curl -X PUT http://admin:password@127.0.0.1:5984/${{ env.DB_DATABASE }}
        working-directory: api

      - name: Start MinIO
        run: |
          ./scripts/start-minio-in-ci.sh
        working-directory: api

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: api/.node-version
          registry-url: "https://registry.npmjs.org"
          cache: "npm"
          cache-dependency-path: api/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: api

      - name: Run Tests
        run: npm run test
        working-directory: api

  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: api/.node-version
          registry-url: "https://registry.npmjs.org"
          cache: "npm"
          cache-dependency-path: api/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: api

      - name: Rebuild native modules
        run: npm rebuild sharp
        working-directory: api

      - name: Lint
        run: npm run lint
        working-directory: api

      - name: Type Check
        run: tsc
        working-directory: api
