name: Run CMS Unit & Lint Tests
permissions:
  contents: read

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main
    paths:
      - cms/**
      - .github/workflows/cms-unit-tests.yml
  workflow_call:

env:
  CI: true

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: cms/.node-version
          registry-url: "https://registry.npmjs.org"
          cache: "npm"
          cache-dependency-path: cms/package-lock.json

      - name: Build shared dependencies
        run: npm ci; npm run build;
        working-directory: shared

      - name: Install dependencies
        run: npm ci --install-links
        working-directory: cms

      - name: Run Unit Tests
        run: npm run test:unit
        working-directory: cms

      - name: Run Lint Tests
        run: npm run lint
        working-directory: cms

      - name: Run Type Check
        run: npm run type-check
        working-directory: cms
